<mat-toolbar color="primary">
  <span style="cursor:pointer;" routerLink="/">Book App</span>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon" routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button routerLink="books">All Books</button>
  <button mat-button routerLink="/about-us">About-us</button>
  <button mat-button routerLink="/contact-us">Contact-us</button>
  <span class="spacer"></span>
  <button mat-button routerLink="/auth/login">Login</button>
  <button mat-button routerLink="/auth/signup">Signup</button>
</mat-toolbar>