<div>
    <table border="1">
        <thead>            
            <th><a routerLink="/public/home">Home</a></th>
            <th><a routerLink="/auth/login" [queryParams]="{name:'sandeep',email:'sandeep@gmail.com'}">Login</a></th>
            <th><a routerLink="/auth/signup">Signup</a></th>
            <th><a routerLink="/about-us">About us</a></th>
            <th><a routerLink="/contact-us">Contact us</a></th>
        </thead>
    </table>
</div>
<router-outlet> </router-outlet>
<div>
    <h1>Header</h1>
</div>

