<mat-toolbar color="primary">
    <button mat-button routerLink="/">Home</button>
    <span class="spacer"></span>
    <button mat-button routerLink="/contact-us">Contact-us</button>
    <span class="spacer"></span>
    <button mat-button routerLink="/about-us">About-us</button>
    <span class="spacer"></span>
    <button mat-button routerLink="/">Privacy</button>
    <span class="spacer"></span>   
    <button mat-button routerLink="/">Policy</button>
    <span class="spacer"></span>
    <button mat-button routerLink="/">Security</button>
    <span class="spacer"></span>
    <button mat-button routerLink="/">Address</button>   
</mat-toolbar>