<mat-toolbar color="primary">
    <button mat-button>Home</button>
    <span class="spacer"></span>
    <button mat-button>Contact-us</button>
    <span class="spacer"></span>
    <button mat-button>About-us</button>
    <span class="spacer"></span>
    <button mat-button>Privacy</button>
    <span class="spacer"></span>   
    <button mat-button>Policy</button>
    <span class="spacer"></span>
    <button mat-button>Security</button>
    <span class="spacer"></span>
    <button mat-button>Address</button>   
</mat-toolbar>